.form{
    width: 500px;
    background: url(../image/weather.jfif) no-repeat center;
    background-size: cover;
    margin: 100px auto;
    padding: 50px;
}
.form h1{
    font-size: 40px;
    color: #210af0;
    text-transform: capitalize;
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 10px 0;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}
#placeholder{
    text-align: center;
}

textarea{
    width: 100%;
}